In [8]:
import pandas as pd
import os

In [9]:
date =  pd.DataFrame()
date['日期'] = pd.DataFrame(pd.date_range(f'1/1/{2019}',f'31/12/{2021}'))
date['週'] = date['日期'].dt.isocalendar().week
date['年'] = date['日期'].dt.isocalendar().year
date

C:\Users\IDSL\AppData\Local\Temp\ipykernel_4628\847078050.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  date['日期'] = pd.DataFrame(pd.date_range(f'1/1/{2019}',f'31/12/{2021}'))

             日期   週     年
0    2019-01-01   1  2019
1    2019-01-02   1  2019
2    2019-01-03   1  2019
3    2019-01-04   1  2019
4    2019-01-05   1  2019
...         ...  ..   ...
1091 2021-12-27  52  2021
1092 2021-12-28  52  2021
1093 2021-12-29  52  2021
1094 2021-12-30  52  2021
1095 2021-12-31  52  2021

[1096 rows x 3 columns]

讀取所有病房病人數資料檔案

In [11]:
# people = pd.read_csv(f'./最終版本/五病房.csv')

# people = people[people.columns.drop(list(people.filter(regex='Unnamed')))]
# people['日期'] =  pd.to_datetime(people['日期'])
# total_data = pd.merge(date, people, on='日期')
# total_data.to_csv(f"./最終版本/五病房1.csv")

讀取有週期年的資料

In [38]:
total_data = pd.read_csv(f'./最終版本/五病房1.csv',encoding="latin1",on_bad_lines='skip',header=None, 
                     names=['日期','週','年','病人數量'])
total_data

              日期   週     年  病人數量
0       2019/1/1   1  2019    29
1       2019/1/2   1  2019    33
2       2019/1/3   1  2019    31
3       2019/1/4   1  2019    30
4       2019/1/5   1  2019    25
...          ...  ..   ...   ...
1082  2021/12/27  52  2021    37
1083  2021/12/28  52  2021    40
1084  2021/12/29  52  2021    43
1085  2021/12/30  52  2021    44
1086  2021/12/31  52  2021    39

[1087 rows x 4 columns]

計算平均和總病人數(週)

In [42]:
year = 2021
for num in range(1, 53,1):
    temp = total_data[(total_data['週'] == num)&(total_data['年'] == year)]
#     print(len(temp))

    people_sum = round(temp['病人數量'].sum(),2)
    people_averange = round(temp['病人數量'].mean(),2)
   
    total_data.loc[(total_data['週'] == num)&(total_data['年'] == year),'總病人數'] = people_sum
    total_data.loc[(total_data['週'] == num)&(total_data['年'] == year),'平均病人數'] = people_averange

7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
5

計算前一個週期的歷史資料

In [73]:
total_data = total_data.reset_index(drop=True)
# 計算滑動窗口
for num in range(1, len(total_data),1):
    last_sum = total_data.loc[num-1:num-1,'總病人數'].values[0]
    last_average = total_data.loc[num-1:num-1,'平均病人數'].values[0]
    total_data.loc[num:num,'前一週總病人數'] = last_sum
    total_data.loc[num:num,'前一週平均病人數'] = last_average

In [76]:
total_data

             日期   週     年  病人數量   總病人數  平均病人數  前一週總病人數  前一週平均病人數
0      2019/1/6   1  2019    27  175.0  29.17      NaN       NaN
1     2019/1/13   2  2019    31  250.0  35.71    175.0     29.17
2     2019/1/20   3  2019    27  231.0  33.00    250.0     35.71
3     2019/1/27   4  2019    26  215.0  30.71    231.0     33.00
4      2019/2/3   5  2019    25  179.0  25.57    215.0     30.71
..          ...  ..   ...   ...    ...    ...      ...       ...
151   2021/12/5  48  2021    27  206.0  29.43    259.0     37.00
152  2021/12/12  49  2021    25  198.0  28.29    206.0     29.43
153  2021/12/19  50  2021    24  234.0  33.43    198.0     28.29
154  2021/12/26  51  2021    29  240.0  34.29    234.0     33.43
155  2021/12/31  52  2021    39  203.0  40.60    240.0     34.29

[156 rows x 8 columns]

In [ ]:
people

In [78]:
total_data.to_csv(f"./五病房_最終版1.csv")