In [1]:
import pandas as pd
import os

In [2]:
# 讀取兩份資料，一年分成兩份
data_1=pd.read_csv(f'./刪除重複值/五病房_5.csv')
data_2=pd.read_csv(f'./刪除重複值/五病房_6.csv')
total_data = pd.concat([data_1, data_2])
total_data = total_data[total_data.columns.drop(list(total_data.filter(regex='Unnamed')))]

產生一年的日期資料

In [3]:
year = 2021
date =  pd.DataFrame()
date['日期'] = pd.DataFrame(pd.date_range(f'1/1/{year}',f'31/12/{year}'))
date

C:\Users\IDSL\AppData\Local\Temp\ipykernel_14788\731444619.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  date['日期'] = pd.DataFrame(pd.date_range(f'1/1/{year}',f'31/12/{year}'))

            日期
0   2021-01-01
1   2021-01-02
2   2021-01-03
3   2021-01-04
4   2021-01-05
..         ...
360 2021-12-27
361 2021-12-28
362 2021-12-29
363 2021-12-30
364 2021-12-31

[365 rows x 1 columns]

計算每天有幾個病床紀錄

In [4]:
date['日期'] = pd.to_datetime(date['日期'])
date['日期']=  date['日期'].dt.date
total_data['date'] = pd.to_datetime(total_data['date'])
total_data['date']=  total_data['date'].dt.date
for i in range(len(date)):
    target_day = date.loc[i:i].reset_index(drop=True)
    temp = total_data[total_data['date'] == target_day['日期'].values[0]]
    print(len(temp))
    date.loc[i:i,'病人數量'] = len(temp)

29
26
22
28
34
35
38
36
33
34
41
43
47
49
46
42
37
37
46
46
49
46
39
33
37
42
42
42
38
29
31
40
40
37
40
39
33
29
25
17
1
2
0
0
0
1
15
22
32
37
38
38
43
43
44
44
44
37
24
34
36
41
44
41
35
26
30
35
37
44
44
37
31
37
39
43
44
44
42
31
35
37
36
34
35
38
40
39
37
41
42
36
23
25
25
32
35
36
38
36
32
36
38
39
45
44
36
31
32
32
33
33
32
21
19
29
33
41
42
41
34
25
28
32
35
39
39
32
31
31
31
31
34
39
35
28
30
29
37
37
33
26
21
25
31
36
36
35
34
33
36
33
37
38
35
31
32
35
32
34
35
34
29
26
26
27
32
32
31
32
31
29
27
26
34
33
29
31
37
34
34
35
33
29
29
35
34
36
38
39
32
34
37
37
37
34
35
28
31
32
31
34
35
33
31
30
31
34
36
38
38
34
26
29
34
36
35
36
29
26
31
30
34
34
34
30
26
29
32
34
34
34
31
30
35
37
35
34
33
32
31
38
36
37
39
41
37
31
32
35
39
40
40
38
34
39
36
41
45
42
39
29
24
20
27
31
33
30
29
34
39
41
44
44
43
41
40
37
35
38
34
28
21
21
19
26
32
33
25
20
20
25
32
30
30
24
21
26
30
33
38
40
35
36
36
33
34
39
39
33
33
40
43
44
43
43
37
29
33
31
33
35
35
33
33
36
40
41
37
35
34
36
36
31
30
29
28
25
27
26
30
28
29
31
29
25
29
34
37
39
39
32
24
30
36
37
38
37
33
29
37
40
43
44
39

In [5]:
total_data

     sickroom        date
0      D1502   2021-01-01
1      D1502   2021-01-02
2      D15121  2021-04-13
3      D15121  2021-04-10
4      D15121  2021-04-12
...       ...         ...
6172   D15263  2021-11-11
6173   D15263  2021-07-12
6174   D15263  2021-12-17
6175   D15253  2021-08-27
6176   D1501   2021-07-18

[12262 rows x 2 columns]

In [6]:
date

             日期  病人數量
0    2021-01-01  29.0
1    2021-01-02  26.0
2    2021-01-03  22.0
3    2021-01-04  28.0
4    2021-01-05  34.0
..          ...   ...
360  2021-12-27  37.0
361  2021-12-28  40.0
362  2021-12-29  43.0
363  2021-12-30  44.0
364  2021-12-31  39.0

[365 rows x 2 columns]

In [7]:
# date.to_csv(f"./最終版本/五病房_{year}.csv",encoding='utf_8_sig')

三年資料合併

In [12]:
final =  pd.DataFrame()
temp_1=pd.read_csv(f'./最終版本/五病房_2019.csv')
temp_2=pd.read_csv(f'./最終版本/五病房_2020.csv')
temp_3=pd.read_csv(f'./最終版本/五病房_2021.csv')
final = pd.concat([temp_1, temp_2])
final = pd.concat([final, temp_3])
final = final[final.columns.drop(list(final.filter(regex='Unnamed')))]
# final.to_csv(f"./最終版本/五病房.csv",encoding='utf_8_sig')

In [13]:
final

             日期  病人數量
0    2019-01-01  29.0
1    2019-01-02  33.0
2    2019-01-03  31.0
3    2019-01-04  30.0
4    2019-01-05  25.0
..          ...   ...
360  2021-12-27  37.0
361  2021-12-28  40.0
362  2021-12-29  43.0
363  2021-12-30  44.0
364  2021-12-31  39.0

[1096 rows x 2 columns]