In [69]:
import pandas as pd
import os

幫合併完的資料增加日期的欄位

In [70]:
date =  pd.DataFrame()
date['日期'] = pd.DataFrame(pd.date_range(f'1/1/{2019}',f'31/12/{2021}'))
date['週'] = date['日期'].dt.isocalendar().week
date['年'] = date['日期'].dt.isocalendar().year
# date = date.drop(date[date['週'] == 53].index).reset_index()
# del_data =  date[date['週'] == 52].tail(1).index
# date = date.drop(date[del_data.values[0]+1:].index).reset_index()
# date["日期"] = pd.to_datetime(date["日期"] ,format='%Y/%m/%d')
date

C:\Users\IDSL\AppData\Local\Temp\ipykernel_37240\4198979263.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  date['日期'] = pd.DataFrame(pd.date_range(f'1/1/{2019}',f'31/12/{2021}'))

             日期   週     年
0    2019-01-01   1  2019
1    2019-01-02   1  2019
2    2019-01-03   1  2019
3    2019-01-04   1  2019
4    2019-01-05   1  2019
...         ...  ..   ...
1091 2021-12-27  52  2021
1092 2021-12-28  52  2021
1093 2021-12-29  52  2021
1094 2021-12-30  52  2021
1095 2021-12-31  52  2021

[1096 rows x 3 columns]

讀取所有天氣資料檔案

In [71]:
total_data = pd.DataFrame()
for filename in os.listdir(f"./"):
    if filename=='天氣資料整理合併.ipynb' or filename=='.ipynb_checkpoints' or filename== '斗六降水量資料.csv':
        continue
    temp = pd.read_csv(f'./{filename}')
#     刪除第一筆
    temp = temp.drop([0])
    total_data = pd.concat([total_data, temp])
total_data = total_data.reset_index(drop=True)
# print(total_data)
total_data['日期'] = date['日期']
total_data['週'] = date['週']
total_data['年'] = date['年']
columns = ['日期','降水量(mm)','週','年','氣溫(℃)','相對溼度(%)']
# 只取日期和降水量
total_data = total_data[columns]
# 刪除第53週
# total_data = total_data.drop(total_data[total_data['週'] == 53].index).reset_index()
# total_data.to_csv(f'斗六降水量資料.csv',index=False, encoding='utf_8_sig') 
print(total_data)

             日期 降水量(mm)   週     年 氣溫(℃) 相對溼度(%)
0    2019-01-01     0.0   1  2019  17.5      87
1    2019-01-02     0.0   1  2019  18.1      90
2    2019-01-03     0.5   1  2019  19.0      95
3    2019-01-04     0.0   1  2019  20.2      92
4    2019-01-05     0.0   1  2019  21.5      87
...         ...     ...  ..   ...   ...     ...
1091 2021-12-27     1.0  52  2021  14.0      84
1092 2021-12-28     0.0  52  2021  16.6      81
1093 2021-12-29     0.0  52  2021  18.0      82
1094 2021-12-30     0.0  52  2021  16.8      79
1095 2021-12-31     0.0  52  2021  15.8      72

[1096 rows x 6 columns]

In [79]:
total_data['降水量(mm)'] = total_data['降水量(mm)'].apply(lambda x: float(x))
total_data['氣溫(℃)'] = total_data['氣溫(℃)'].apply(lambda x: float(x))
total_data['相對溼度(%)'] = total_data['相對溼度(%)'].apply(lambda x: int(x))

刪除53週並且整理一週幾天下雨幾天沒下雨'

In [80]:
# date = pd.read_csv(f'./斗六降水量資料.csv')
year = 2021
for num in range(1, 53,1):
    temp = total_data[(total_data['週'] == num)&(total_data['年'] == year)]
#         計算該周工作日
    rainy_day = len(temp[temp['降水量(mm)'] > 0])
    no_rainy_day = len(temp[temp['降水量(mm)'] == 0])
    tem_averange = temp['氣溫(℃)'].mean()
    humidity_averange = temp['相對溼度(%)'].mean()
   
    total_data.loc[(total_data['週'] == num)&(total_data['年'] == year),'下雨天數'] = rainy_day
    total_data.loc[(total_data['週'] == num)&(total_data['年'] == year),'沒下雨天數'] = no_rainy_day
    total_data.loc[(total_data['週'] == num)&(total_data['年'] == year),'平均氣溫'] = tem_averange
    total_data.loc[(total_data['週'] == num)&(total_data['年'] == year),'平均濕度'] = humidity_averange
   
#     if year == 2021 and num == 52:   
#         date.loc[date['週']==num,'休假天數'] = 2

# #     同一週期工作日、休假日都一樣所以只保留一筆
# date.drop_duplicates(subset='週', keep='last', inplace=True)
# date = date.drop(['日期', '休假日','level_0','index'], axis=1)
# print(date)
# answer = pd.merge(data, date, on='週')

734    16.8
735    17.6
736    16.2
737    13.8
738     9.1
739    12.7
740    12.7
Name: 氣溫(℃), dtype: float64
741    12.3
742    10.8
743    13.3
744    14.7
745    15.4
746    15.6
747    14.4
Name: 氣溫(℃), dtype: float64
748    14.1
749    15.8
750    16.9
751    19.7
752    19.7
753    19.7
754    17.8
Name: 氣溫(℃), dtype: float64
755    18.5
756    17.1
757    17.1
758    16.0
759    15.4
760    16.0
761    16.7
Name: 氣溫(℃), dtype: float64
762    17.3
763    17.9
764    17.2
765    17.6
766    17.9
767    19.1
768    18.0
Name: 氣溫(℃), dtype: float64
769    18.7
770    18.8
771    18.1
772    17.0
773    18.1
774    19.5
775    18.7
Name: 氣溫(℃), dtype: float64
776    18.8
777    19.8
778    17.5
779    16.1
780    16.4
781    16.8
782    18.0
Name: 氣溫(℃), dtype: float64
783    19.8
784    19.8
785    19.5
786    21.1
787    21.2
788    18.6
789    19.9
Name: 氣溫(℃), dtype: float64
790    22.2
791    19.3
792    17.3
793    19.4
794    21.5
795    21.0
796    18.5
Name: 氣溫(℃), dtype: float64
797    18.8
798    19.1
799    19.8
800    20.2
801    21.6
802    20.1
803    20.0
Name: 氣溫(℃), dtype: float64
804    21.1
805    22.6
806    23.1
807    21.9
808    22.2
809    23.6
810    19.1
Name: 氣溫(℃), dtype: float64
811    14.3
812    17.5
813    17.5
814    18.8
815    20.8
816    23.5
817    25.4
Name: 氣溫(℃), dtype: float64
818    25.5
819    26.0
820    25.9
821    25.7
822    26.2
823    25.3
824    23.8
Name: 氣溫(℃), dtype: float64
825    21.2
826    21.2
827    20.9
828    21.5
829    18.7
830    20.1
831    21.7
Name: 氣溫(℃), dtype: float64
832    23.2
833    24.5
834    23.0
835    22.4
836    23.6
837    23.9
838    23.6
Name: 氣溫(℃), dtype: float64
839    23.1
840    24.6
841    25.2
842    24.3
843    24.8
844    24.7
845    23.1
Name: 氣溫(℃), dtype: float64
846    24.1
847    23.5
848    23.7
849    21.6
850    24.1
851    24.8
852    24.9
Name: 氣溫(℃), dtype: float64
853    24.9
854    27.3
855    25.6
856    25.1
857    27.2
858    27.7
859    27.6
Name: 氣溫(℃), dtype: float64
860    28.2
861    28.1
862    29.1
863    29.4
864    28.9
865    29.4
866    29.9
Name: 氣溫(℃), dtype: float64
867    29.4
868    29.6
869    29.7
870    29.8
871    30.0
872    29.8
873    30.7
Name: 氣溫(℃), dtype: float64
874    29.6
875    29.0
876    29.2
877    29.8
878    30.2
879    29.2
880    25.3
Name: 氣溫(℃), dtype: float64
881    26.3
882    26.7
883    29.0
884    29.7
885    28.7
886    25.6
887    25.0
Name: 氣溫(℃), dtype: float64
888    26.7
889    26.9
890    28.3
891    28.1
892    29.5
893    27.4
894    28.7
Name: 氣溫(℃), dtype: float64
895    29.3
896    29.6
897    27.9
898    29.5
899    30.0
900    28.6
901    27.8
Name: 氣溫(℃), dtype: float64
902    26.1
903    25.5
904    26.2
905    27.3
906    27.6
907    28.0
908    27.7
Name: 氣溫(℃), dtype: float64
909    27.2
910    27.4
911    28.7
912    29.2
913    29.5
914    29.7
915    29.1
Name: 氣溫(℃), dtype: float64
916    29.6
917    29.5
918    28.5
919    29.3
920    29.8
921    29.4
922    28.9
Name: 氣溫(℃), dtype: float64
923    28.3
924    27.9
925    28.8
926    27.1
927    26.9
928    27.8
929    28.1
Name: 氣溫(℃), dtype: float64
930    28.1
931    28.4
932    29.3
933    28.0
934    27.6
935    28.4
936    29.4
Name: 氣溫(℃), dtype: float64
937    29.3
938    30.2
939    30.3
940    29.6
941    29.1
942    26.4
943    25.1
Name: 氣溫(℃), dtype: float64
944    25.5
945    27.1
946    28.3
947    26.8
948    26.6
949    26.4
950    27.8
Name: 氣溫(℃), dtype: float64
951    26.8
952    27.1
953    27.6
954    28.5
955    28.0
956    27.8
957    28.7
Name: 氣溫(℃), dtype: float64
958    28.7
959    29.4
960    28.1
961    27.1
962    28.8
963    29.2
964    29.1
Name: 氣溫(℃), dtype: float64
965    29.1
966    28.2
967    27.5
968    28.2
969    28.3
970    28.5
971    29.0
Name: 氣溫(℃), dtype: float64
972    27.8
973    28.3
974    28.4
975    28.7
976    27.7
977    27.0
978    27.4
Name: 氣溫(℃), dtype: float64
979    28.9
980    29.4
981    29.0
982    29.0
983    29.6
984    29.4
985    27.8
Name: 氣溫(℃), dtype: float64
986    28.4
987    29.6
988    28.1
989    28.6
990    28.8
991    29.3
992    29.6
Name: 氣溫(℃), dtype: float64
993    29.8
994    29.2
995    28.8
996    28.9
997    29.1
998    29.6
999    29.1
Name: 氣溫(℃), dtype: float64
1000    28.8
1001    28.7
1002    28.9
1003    28.8
1004    28.9
1005    29.0
1006    29.0
Name: 氣溫(℃), dtype: float64
1007    29.1
1008    28.9
1009    28.7
1010    28.6
1011    29.1
1012    29.0
1013    29.1
Name: 氣溫(℃), dtype: float64
1014    28.8
1015    27.9
1016    26.2
1017    26.0
1018    27.4
1019    28.1
1020    24.4
Name: 氣溫(℃), dtype: float64
1021    24.1
1022    24.2
1023    24.1
1024    24.2
1025    21.7
1026    23.9
1027    23.5
Name: 氣溫(℃), dtype: float64
1028    24.6
1029    26.6
1030    24.9
1031    24.2
1032    23.0
1033    23.7
1034    23.9
Name: 氣溫(℃), dtype: float64
1035    24.5
1036    24.1
1037    25.0
1038    25.4
1039    25.9
1040    26.3
1041    25.5
Name: 氣溫(℃), dtype: float64
1042    22.4
1043    19.1
1044    18.5
1045    19.4
1046    20.8
1047    19.7
1048    19.9
Name: 氣溫(℃), dtype: float64
1049    22.0
1050    23.1
1051    23.5
1052    22.5
1053    22.8
1054    23.6
1055    23.9
Name: 氣溫(℃), dtype: float64
1056    20.8
1057    17.2
1058    19.1
1059    19.7
1060    19.7
1061    20.9
1062    22.1
Name: 氣溫(℃), dtype: float64
1063    23.1
1064    22.0
1065    17.2
1066    16.9
1067    16.5
1068    17.3
1069    18.3
Name: 氣溫(℃), dtype: float64
1070    18.8
1071    19.2
1072    19.0
1073    20.2
1074    20.8
1075    20.6
1076    19.7
Name: 氣溫(℃), dtype: float64
1077    19.0
1078    19.9
1079    20.7
1080    21.4
1081    19.1
1082    16.0
1083    18.2
Name: 氣溫(℃), dtype: float64
1084    17.9
1085    17.8
1086    18.4
1087    19.8
1088    19.7
1089    17.5
1090    15.8
Name: 氣溫(℃), dtype: float64
1091    14.0
1092    16.6
1093    18.0
1094    16.8
1095    15.8
Name: 氣溫(℃), dtype: float64

In [82]:
temp = total_data[total_data['年'] == 2019]
temp

            日期  降水量(mm)   週     年  氣溫(℃)  相對溼度(%)  下雨天數  沒下雨天數  平均氣溫
0   2019-01-01      0.0   1  2019   17.5       87   NaN    NaN   NaN
1   2019-01-02      0.0   1  2019   18.1       90   NaN    NaN   NaN
2   2019-01-03      0.5   1  2019   19.0       95   NaN    NaN   NaN
3   2019-01-04      0.0   1  2019   20.2       92   NaN    NaN   NaN
4   2019-01-05      0.0   1  2019   21.5       87   NaN    NaN   NaN
..         ...      ...  ..   ...    ...      ...   ...    ...   ...
358 2019-12-25      0.0  52  2019   20.8       85   NaN    NaN   NaN
359 2019-12-26      0.0  52  2019   21.2       83   NaN    NaN   NaN
360 2019-12-27      0.0  52  2019   17.4       70   NaN    NaN   NaN
361 2019-12-28      0.0  52  2019   18.4       80   NaN    NaN   NaN
362 2019-12-29     75.0  52  2019   18.0       99   NaN    NaN   NaN

[363 rows x 9 columns]

計算一週總降水量

In [66]:
# date = pd.read_csv(f'./斗六降水量資料.csv')
year = 2021
for num in range(1, 53,1):
    temp = total_data[(total_data['週'] == num)&(total_data['年'] == year)]
#         計算該周工作日
    total_rainy =  temp['降水量(mm)'].sum()
    total_data.loc[(total_data['週'] == num)&(total_data['年'] == year),'總下雨量'] = total_rainy
print(date)

             日期   週     年
0    2019-01-01   1  2019
1    2019-01-02   1  2019
2    2019-01-03   1  2019
3    2019-01-04   1  2019
4    2019-01-05   1  2019
...         ...  ..   ...
1091 2021-12-27  52  2021
1092 2021-12-28  52  2021
1093 2021-12-29  52  2021
1094 2021-12-30  52  2021
1095 2021-12-31  52  2021

[1096 rows x 3 columns]

In [67]:
total_data

             日期  降水量(mm)   週     年 氣溫(℃) 相對溼度(%)  下雨天數  沒下雨天數  總下雨量
0    2019-01-01      0.0   1  2019  17.5      87   1.0    5.0   0.5
1    2019-01-02      0.0   1  2019  18.1      90   1.0    5.0   0.5
2    2019-01-03      0.5   1  2019  19.0      95   1.0    5.0   0.5
3    2019-01-04      0.0   1  2019  20.2      92   1.0    5.0   0.5
4    2019-01-05      0.0   1  2019  21.5      87   1.0    5.0   0.5
...         ...      ...  ..   ...   ...     ...   ...    ...   ...
1091 2021-12-27      1.0  52  2021  14.0      84   1.0    4.0   1.0
1092 2021-12-28      0.0  52  2021  16.6      81   1.0    4.0   1.0
1093 2021-12-29      0.0  52  2021  18.0      82   1.0    4.0   1.0
1094 2021-12-30      0.0  52  2021  16.8      79   1.0    4.0   1.0
1095 2021-12-31      0.0  52  2021  15.8      72   1.0    4.0   1.0

[1096 rows x 9 columns]

In [37]:
# date.to_csv(f'斗六降水量資料.csv',index=False, encoding='utf_8_sig')

In [68]:
total_data.to_csv(f'斗六降水量資料1.csv',index=False, encoding='utf_8_sig')